body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 35px #000000;
  padding: 30px;
  border-radius: 30px;

}

.container {
  background: #efefef;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: rgb(162, 58, 128);
  border: 2px solid  #ff0000;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 5px 6px 15px;
}

button {
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  background: rgb(158, 162, 251);
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 5px 6px 15px #000000;
}